# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Environment Variables
# =========================
.env

# =========================
# Alembic
# =========================
alembic/__pycache__/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Node (future frontend)
# =========================
node_modules/